## Advanced DataFrame Operations
When working with real-world data, it is common to encounter multiple datasets that need to be combined, split, or reshaped. Pandas offers several powerful methods to perform these operations efficiently. Understanding how to manipulate data at this level is essential for building robust data analysis workflows.

In this module, we will cover following methods:

- Merging DataFrames
- Concatenating DataFrames
-Joining DataFrames
- Reshaping DataFrames
- Stacking and Unstacking
- Pivoting and Melting Data

### 1 Merging DataFrames

In [1]:
import pandas as pd

In [2]:

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ProductID': [101, 102, 103],
    'SalesAmount': [200, 150, 400]
})

df2 = pd.DataFrame({
    'ProductID': [102, 103, 104],
    'Region': ['North', 'South', 'East']
})

In [3]:
merge_data = pd.merge(df1, df2, on='ProductID', how='inner')
print(merge_data)

   ProductID  SalesAmount Region
0        102          150  North
1        103          400  South

In [4]:
merge_data_left = pd.merge(df1, df2, on='ProductID', how='left')
print(merge_data_left)

   ProductID  SalesAmount Region
0        101          200    NaN
1        102          150  North
2        103          400  South

In [5]:
merge_data_rigth = pd.merge(df1, df2, on='ProductID', how='right')
print(merge_data_rigth)

   ProductID  SalesAmount Region
0        102        150.0  North
1        103        400.0  South
2        104          NaN   East

In [6]:
merge_data_outter = pd.merge(df1, df2, on='ProductID', how='outer')
print(merge_data_outter)

   ProductID  SalesAmount Region
0        101        200.0    NaN
1        102        150.0  North
2        103        400.0  South
3        104          NaN   East

## Concatenating DataFrames

Concatenation is the process of appending or stacking DataFrames either along rows (vertical concatenation) or along columns (horizontal concatenation). This operation is done using the `concat()` function.

In [8]:
# create data farame 
df3 = pd.DataFrame({
    'ProductID': [105, 106],
    'SalesAmount': [250, 350]
})

In [9]:
# concatinate df1 and df3vertically
# we use ignore_index to make sure that we get a new sequential index

df_concatenated = pd.concat([df1, df3], ignore_index=True)
print(df_concatenated)

   ProductID  SalesAmount
0        101          200
1        102          150
2        103          400
3        105          250
4        106          350

In [10]:
# concantenate df1, df2 horizontally
df_hz = pd.concat([df1, df2], axis=1)
print(df_hz)

   ProductID  SalesAmount  ProductID Region
0        101          200        102  North
1        102          150        103  South
2        103          400        104   East

Here, `axis=1` specifies that the DataFrames should be concatenated along columns.

## Joining DataFrames

The `join()` function is similar to merge() but works with indices. It’s a convenient method when you need to join DataFrames based on their index.

In [11]:
# set ProductID as the index for both DataFrame
df1.set_index('ProductID', inplace=True)
df2.set_index('ProductID', inplace=True)
# join df1, df2 based on their indicies

df_joined = df1.join(df2, how='inner')
print(df_joined)

           SalesAmount Region
ProductID
102                150  North
103                400  South

## Reshaping DataFrames

Reshaping data allows you to change the layout or structure of your DataFrame, which is especially useful when preparing data for analysis or visualization. Pandas provides several methods for

reshaping DataFrames, including pivoting, melting, stacking, and unstacking.

Pivoting Data

Pivoting reshapes the DataFrame by turning unique values from one column into separate columns. It’s commonly used to summarize data and display it in a more compact form.

The `pivot()` function is used to create a new table where a column’s unique values become new columns, and you can set other columns as the index and values.

In [12]:
data = {
    "Date": ["2024-01-01", "2024-01-01", "2024-01-02", "2024-01-02"],
    "Product": ["A", "B", "A", "B"],
    "SalesAmount": [100, 200, 150, 250]
}

df = pd.DataFrame(data)

In [13]:
print(df)

         Date Product  SalesAmount
0  2024-01-01       A          100
1  2024-01-01       B          200
2  2024-01-02       A          150
3  2024-01-02       B          250

In [17]:
# pivot the DataFrame
df_pivot = df.pivot(index='Date', columns='Product', values='SalesAmount')
print(df_pivot)

Product       A    B
Date
2024-01-01  100  200
2024-01-02  150  250

## Melting Data

The opposite of pivoting is melting, which transforms a DataFrame from wide format (with multiple columns) to long format. The `melt()` function is useful when you want to convert columns into rows.

In [18]:
# melting the pivoted data into a long format 
df_long_format = pd.melt(df_pivot.reset_index(), id_vars='Date', value_vars=['A', 'B'], var_name='SalesAmount')
print(df_long_format)

         Date SalesAmount  value
0  2024-01-01           A    100
1  2024-01-02           A    150
2  2024-01-01           B    200
3  2024-01-02           B    250

## Stacking and Unstacking

Stacking and unstacking are used to reshape DataFrames by moving the innermost columns to become the innermost row index (stacking) or moving the innermost row index to become the innermost columns (unstacking). These operations are particularly useful for working with hierarchical or multi-level indices.

## Stacking Single-Level Columns

Stacking moves the column labels into rows, effectively "compressing" the DataFrame. This is useful when working with DataFrames that have simple column structures, such as single-level columns.

In [20]:
df_mult = pd.DataFrame(
    {
        ('Region', 'North'): [200, 300],
        ('Region', 'South'): [150, 400]
    },
    index=['Poduct1', 'Product2']
)

In [22]:
print(df_mult)

         Region
          North South
Poduct1     200   150
Product2    300   400

In [21]:
# stack the dataframedf
df_stacked = df_mult.stack()
print(df_stacked)

                Region
Poduct1  North     200
         South     150
Product2 North     300
         South     400

In [23]:
df_muti = pd.DataFrame(
    {
        ('SalesAmount', 'North'): [200, 300],
        ('SalesAmount', 'South'): [150, 400]
        
    },
    index=['Product1', 'Product2']
)

In [24]:
df_stacked1 = df_muti.stack()

In [25]:
print(df_stacked1)

                SalesAmount
Product1 North          200
         South          150
Product2 North          300
         South          400

## Unstacking Data

Unstacking is the reverse of stacking. It moves the innermost level of the index to become the innermost columns.

In [27]:
df_unstacked = df_stacked1.unstack()
print(df_unstacked)

         SalesAmount
               North South
Product1         200   150
Product2         300   400

## Pivot Table
The pivot_table() function is an extension of pivot() that allows you to aggregate data while reshaping it. It’s similar to Excel’s pivot table functionality and is especially useful for summarizing data.

In [32]:
# create a pivot_tabe with aggregatoin

df_pivot_tabe = pd.pivot_table(df, values='SalesAmount', index='Product', columns='Region', aggfunc='sum')

KeyError: 'Region'

In [31]:
print(df)

         Date Product  SalesAmount
0  2024-01-01       A          100
1  2024-01-01       B          200
2  2024-01-02       A          150
3  2024-01-02       B          250